.cardsection {
  width: 50%;
  height: 50%;
}

.contactsection {
  width: 50%;
  height: 50%;
  padding: 70px;
}
.button {
  border-radius: 10px;
}

.navbar {
  background-color: #f39c12;
}

.footer {
  background-color: #f39c12;
  display: flex;
  justify-content: center;
}
